<table>
<tr>
  <th>Id</th>
  <th>Name</th>
  <th>Country</th>
  <th>Region</th>
  <th>Is public</th>
  <th>Is sensitive</th>
  <th>Is of interest</th>
  <th>Depth</th>
  <th>Length</th>
  <th>Path</th>
  <th>Stat for aestheticism</th>
  <th>Stat for caving</th>
  <th>Stat for approach</th>
  <th>Time to go</th>
  <th>Underground time</th>
</tr>
<% for(var i=0; i < found.length; i++) {%>
   <tr>
     <td><%= found[i][0].id %></td>
     <td><%= found[i][0].name %></td>
     <td><%= found[i][0].country %></td>
     <td><%= found[i][0].region %></td>
     <td><%= found[i][0].isPublic %></td>
     <td><%= found[i][0].isSensitive %></td>
     <td><%= found[i][0].isOfInterest[0] %></td>
     <% if (found[i][0]['entryInfo'][0] !== undefined) { %>
       <td><%= found[i][0]['entryInfo'][0].depth %></td>
       <td><%= found[i][0]['entryInfo'][0].length %></td>
       <td><img style="width: 150px" src="<%= found[i][0]['entryInfo'][0].path %>"/></td>
     <% } else { %>
       <td>not defined</td>
       <td>not defined</td>
       <td>not defined</td>
     <% } %>
     <td><%= found[i][0]['stat'].aestheticism %></td>
     <td><%= found[i][0]['stat'].caving %></td>
     <td><%= found[i][0]['stat'].approach %></td>
     <td><%= found[i][0]['timeInfo'].eTTrail %></td>
     <td><%= found[i][0]['timeInfo'].eTUnderground %></td>
   </tr>
<% } %>
</table>
