<main class="mdl-layout__content">
    <a name="top"></a>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/caver/new">New</a>
    
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col ">
            
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>City</th>
                    <th>Email</th>
                    <th></th>
                </tr>

                <% _.each(caverlist, function(caver) { %>
                <tr>
                    <td><%= caver.id %></td>
                    <td><%= caver.login %></td>
                    <td><%= caver.nickname %></td>
                    <td><%= caver.city %></td>
                    <td><%= caver.contact %></td>
                    <td>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" href="/caver/edit/<%= caver.id %>">Edit</a>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red mdl-color-text--white" href="/caver/delete/<%= caver.id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
</main>