<%- include('emailHeader', {
  emailTitle: 'Grottocenter - Forgot Password email'
}); %>
<!-- ===== EMAIL BODY ===== -->
<!--
    Required values:
        - recipientName     String      Full name or nickname of the recipient
        - resetLink         String      Link allowing the recipient to reset is password
-->
<p>Dear <b><%=recipientName%></b>,</p>
<p>
  We received a request to reset the password for your account.
  If you made this request, click the button below. If you didn't make this request, you can ignore this email.
</p>

<form action="<%= resetLink %>">
  <button type="submit">Reset your password</button>
</form>

<p>Or use this link to reset your password:
  <a href="<%= resetLink %>">
    <%= resetLink %>
  </a>
</p>

<p>Don't leave it too late though, this link is only available for 24 hours.</p>

<p>
  <i>
    Please, do not reply to this message. This message is a service email related to your use of Grottocenter.
  </i>
</p>

<%- include('emailFooter', {}); %>