<%- include('emailHeader', {
  emailTitle: 'Grottocenter - Forgot Password email'
}); %>
<!-- ===== EMAIL BODY ===== -->
<!--
    Required values:
        - i18n              Object      internationalization module
        - recipientName     String      Full name or nickname of the recipient
        - resetLink         String      Link allowing the recipient to reset is password
-->

<p><%- i18n.__('Dear %s', '<b>'+recipientName+'</b>') %></p>

<p>
  <%- i18n.__('We received a request to reset the password for your account.') %>
  <%- i18n.__('If you made this request, click the button below.') %> 
  <%- i18n.__('If you didn\'t make this request, you can ignore this email.')%>
</p>

<form action="<%= resetLink %>">
  <button type="submit"><%- i18n.__('Reset your password') %></button>
</form>

<p><%- i18n.__('Or use this link to reset your password:') %>
  <a href="<%= resetLink %>">
    <%= resetLink %>
  </a>
</p>

<p><%- i18n.__('Don\'t leave it too late though, this link is only available for 24 hours.') %></p>

<p>
  <i>
    <%- i18n.__('Please, do not reply to this message. This message is a service email related to your use of Grottocenter.') %>
  </i>
</p>

<%- include('emailFooter', { i18n: i18n }); %>
